<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Entity Linking</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/product.css') }}" rel="stylesheet">
  </head>

<body class="text-center">
  <div class="container">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Извлечение именованных сущностей из текста</h3>
          </nav>
        </div>
      </header>
    <main role="main" class="inner cover">
<form class="row g-3" method="post">
  <div class="mb-3">
    <input name="input_text" type="text" class="form-control" id="inputText" placeholder="Введите текст">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Отправить</button>
  </div>
</form>
<div class="mb-3">
  <p name="output_text" type="text" class="h5">{{ output_text }}</p>
</div>

    </main>
  </div>

<script src="{{ url_for('static', filename='js/jquery.min.css') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>