<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Entity Linking</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="{{ '/static/css/bootstrap.min.css' }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ '/static/css/product.css' }}" rel="stylesheet">
  </head>

  <body>

<form class="row g-3" method="post">
  <div class="mb-3">
    <label>Введите текст</label>
    <input name="input_text" type="text" class="form-control" id="inputText" placeholder="Text">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Отправить</button>
  </div>
</form>
<div class="mb-3">
  <p name="output_text" type="text" class="h5">{{ output_text }}</p>
</div>

<script src="{{ '/static/js/jquery.min.css' }}"></script>
<script src="{{ '/static/js/bootstrap.bundle.min.js' }}"></script>
  </body>
</html>